    <?xml version="1.0" encoding="utf-8"?>
    <configuration>
        <system.webServer>
            <handlers>
                <add name="iisnode" path="*" modules="IisnodeModule" />
            </handlers>
            <rewrite>
                <rules>
                    <rule name="Serve Nuxt App" stopProcessing="true">
                        <match url=".*" />
                        <action type="Rewrite" url="/server/functions/index.mjs" />
                    </rule>/
                </rules>
            </rewrite>
        </system.webServer>
    </configuration>